# Include your project-specific ignores in this file
# Read about how to use .gitignore: https://help.github.com/articles/ignoring-files
.cache-loader
.htaccess

# Composer
vendor/
vendor/*
composer.phar
/composer.lock
*.lock

# NPM
node_modules/
node_modules/*

# IntelliJ - PhpStorm and PyCharm
.idea/
.idea/*
*.ipr
*.iws

# Eclipse
/.project
/.settings
/.classpath

# Logs
logs/
logs/*
*.logs
*.log
debug.log

# Netbeans
nbproject
.nbproject
.nbproject/
.nbproject/*
nbproject/
nbproject/*
nbbuild/
nbbuild/*
nbdist/
nbdist/*
nbactions.xml
nb-configuration.xml

# Mac OSX
.DS_Store
.github/
.github/*

# Thumbnails
._*
# Files that might appear on external disk
.Spotlight-V100
.Trashes

# SublimeText project files
/*.sublime-project
*.sublime-workspace

# Dart
packages/
packages/*

# Vagrant
.vagrant/
.vagrant/*

# OpenZeppelin SDK
.openzeppelin/dev-*.json
.openzeppelin/.session

# JSON files in configs folder
configs/
configs/*

# Wordpress Env config file
.wp-env.json
*.env